* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: "IBM Plex Sans", sans-serif;
  color: #191826;
}

.container {
  display: flex;
  flex-direction: column;
}

.logo {
  width: 146px;
  height: 32px;
}

/* buttons */
.btn {
  border: none;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
  width: 296px;
  height: 61px;
  margin-bottom: 16px;
}

.ios-btn {
  color: #fcfaf9;
  background-color: #191826;
}

.android-btn {
  color: #191826;
  background-color: #fcfaf9;
}

.ios-btn:hover {
  background-color: #66e2dc;
}

.android-btn:hover {
  background-color: #ffb964;
}

.ios-btn:hover,
.android-btn:hover {
  cursor: pointer;
}

/* mobile */
@media (min-width: 300px) {
  body {
    background-image: url("./starter-code/assets/bg-main-mobile.png");
    max-width: 375px;
    display: flex;
  }

  .top {
    order: -3;
    position: relative;
    padding: 40px 24px 68px;
  }

  .logo-top {
    margin-bottom: 64px;
  }

  h1 {
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -0.45px;
    margin: 0 0 20px;
  }

  .header-description {
    line-height: 26px;
  }

  /* .test {
    position: relative;
  } */

  .middle {
    position: absolute;
  }

  .img-1 {
    display: none;
  }

  .img-2 {
    width: 280px;
    position: absolute;
    z-index: 1;
    top: 622px;
    left: 48px;
  }

  .img-3 {
    width: 209px;
    height: 430px;
    z-index: 2;
    position: absolute;
    left: 80px;
    top: 524px;
  }

  .background {
    border-radius: 10px;
    z-index: -1;
    background-color: #191826;
    position: absolute;
    width: 375px;
    height: 600px;
    top: 622px;
  }

  .card {
    max-width: 375px;
    position: absolute;
    z-index: 5;
    background: #fa7453;
    color: #fcfaf9;
    border-radius: 12px;
    padding: 48px 37px;
    margin-bottom: 64px;
    top: 1000px;
  }

  h2 {
    margin: 0 0 12px;
  }

  .card-description {
    font-size: 18px;
    line-height: 28px;
    margin: 0 0 36px;
  }

  .pricing {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 32px;
    width: 165px;
  }

  .price {
    font-weight: 700;
    font-size: 65px;
    line-height: 52px;
    margin: 0;
  }
  .month {
    font-size: 20px;
    line-height: 32px;
    letter-spacing: -0.2px;
  }

  .bottom {
    order: 3;
    position: absolute;
    bottom: 0;
    padding: 0 24px 50px;
  }

  .logo-bottom {
    margin-bottom: 32px;
  }

  .contact-info {
    margin: 0 0 64px;
    line-height: 26px;
  }

  .social-media-svgs {
    display: flex;
    justify-content: space-between;
    width: 100px;
    height: 20px;
  }

  .attribution {
    position: relative;
    bottom: 0px;
  }
}

/* tablet */
@media (min-width: 768px) {
  body {
    background-image: url("./starter-code/assets/bg-main-tablet.png");
    background-size: 200%;
    background-position: top -300px right -300px;
    max-width: 768px;
  }

  .top {
    padding: 62px 0 102px 39px;
  }

  .logo {
    margin-bottom: 95px;
  }

  h1 {
    width: 65%;
    font-size: 4rem;
    line-height: 64px;
    letter-spacing: -0.73px;
    margin-bottom: 28px;
  }

  .header-description {
    width: 70%;
    font-size: 18px;
    line-height: 28px;
    margin-top: 0;
  }

  .img-1 {
    display: block;
    position: absolute;
    top: -30px;
    right: -35px;
    width: 267px;
    height: 400px;
  }

  .background {
    width: 696px;
    height: 600px;
    top: 761px;
    left: 33px;
  }

  .img-2 {
    width: 280px;
    height: 420px;
    top: 730px;
    left: 262px;
  }

  .img-3 {
    width: 270.21px;
    height: 556px;
    top: 623px;
    left: 97px;
  }

  .card {
    width: 399px;
    height: 546px;
    top: 906px;
    left: 270px;
  }

  .bottom {
    padding: 0 39px 85px 33px;
  }

  .logo-bottom {
    margin-bottom: 32px;
  }

  .contact-info {
    margin-bottom: 0;
  }

  .footer-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

/* desktop */
@media (min-width: 1440px) {
  body {
    background-image: url("./starter-code/assets/bg-main-desktop.png");
    background-size: 1613px 1758px;
    background-position: left -546px top -112;
    max-width: 1440px;
  }

  .top {
    padding: 62px 0 102px 165px;
  }

  .logo-top {
    margin-bottom: 127px;
  }

  h1 {
    width: 75%;
    font-size: 88px;
    line-height: 88px;
    letter-spacing: -1;
  }

  .header-description {
    width: 65%;
    font-size: 20px;
    line-height: 34px;
  }

  .background {
    width: 1110px;
    height: 600px;
    top: 860px;
    left: 165px;
  }

  .img-1 {
    width: 312px;
    height: 468px;
  }

  .img-2 {
    width: 312px;
    height: 468px;
    top: 820px;
    left: 501px;
  }

  .img-3 {
    width: 312px;
    height: 642px;
    top: 647px;
    left: 267px;
  }

  .card {
    width: 446px;
    height: 625px;
    left: 734px;
    top: 950px;
  }

  .bottom {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 0 165px 91px;
  }

  .logo-bottom {
    margin-right: 138px;
  }

  .contact-info {
    width: 50%;
    margin-right: 359px;
  }

  .social-media-svgs {
    justify-self: end;
  }

  .attribution {
    position: absolute;
    bottom: 40px;
  }
}
