body {
  /* background-image: url("./starter-code/assets/bg-main-desktop.png");
  background-size: 1613px 1758px;
  background-position: left -146px top -112;
  width: 100%;
  max-width: 1440px; */
}

/* tablet */
@media (max-width: 768px) {
  body {
    background-image: url("./starter-code/assets/bg-main-tablet.png");
    background-size: 200%;
    background-position: top -300px right -300px;
  }

  .btn {
    width: 296px;
  }
}

/* desktop */
@media (max-width: 1440px) {
  body {
    background-image: url("./starter-code/assets/bg-main-desktop.png");
  }

  .card {
    width: 446px;
    height: 625px;
    left: 734px;
    top: 950px;
  }

  .img-1 {
    position: absolute;
    width: 312px;
    height: 468px;
    left: 1128px;
    top: -40px;
  }

  .img-2 {
    position: absolute;
    width: 312px;
    height: 468px;
    left: 501px;
    top: 820px;
  }

  .img-3 {
    position: absolute;
    width: 280px;
    height: 606px;
    left: 283px;
    top: 666px;
  }
}
